<h2>{{ id ? 'Editar cliente' : 'Nuevo cliente' }}</h2>

<label>Nombre</label>
<input [(ngModel)]="customer.nombre">

<label>Correo</label>
<input [(ngModel)]="customer.correo">

<label>Password</label>
<input type="password" [(ngModel)]="customer.password">

<label>Antigüedad</label>
<input type="number" [(ngModel)]="customer.antiguedad">

<label>Deudas</label>
<input type="number" step="0.01" [(ngModel)]="customer.deudas">

<label>Admin</label>
<input type="checkbox" [(ngModel)]="customer.isAdmin">

<br><br>

<button (click)="save()">Guardar</button>
<button (click)="cancel()">Cancelar</button>
